name: build

on:
  push:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@master

      - run: docker build ./lab_3/base > builder.log 2>&1

      - uses: appleboy/scp-action@v0.1.4
        with:
          host: 95.30.12.192
          username: valery
          password: MyPass2023
          port: 22
          source: "builder.log"
          target: /home/valery
